.analy-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head-analy{
    font-family: Poppins;
    font-size: 2vw;
    font-weight: 600;
    text-align: center;
    color: #5076FF;
}
.tab-analy{
    width: 60vw;
    display: flex;
    flex-direction: column;
}
.tabh-div-analy{
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #5076FF;
    border-radius: 10px;
}
.tabh1-analy{
    font-family: Poppins;
    width: 3vw;
    font-size: 1vw;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
}
.tabh2-analy{
    font-family: Poppins;
    width: 20vw;
    font-size: 1vw;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
}
.tabh3-analy{
    font-family: Poppins;
    width: 25vw;
    font-size: 1vw;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
}
.tabd-div-analy{
    height: 5vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.tabd1-analy{
    font-family: Poppins;
    width: 3vw;
    font-size: 1vw;
    font-weight: 600;
    text-align: center;
    color: #000000;
}
.tabd2-analy{
    font-family: Poppins;
    width: 20vw;
    font-size: 1vw;
    font-weight: 600;
    text-align: center;
    color: #000000;
}
.tabd3-analy{
    font-family: Poppins;
    width: 25vw;
    font-size: 1vw;
    font-weight: 600;
    text-align: center;
    color: #000000;
}
.del-analy {
    border: none;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #fbd5d5; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem; 
    border-radius: 9999px;
    color: #ef4444;
    cursor: pointer;
}
.del-analy:active {
    background-color: #fca5a5; 
}
.logout-btn{
    font-family: Poppins;
    font-size: 1vw;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    cursor: pointer;
    position: absolute;
    right: 2vw;
    top: 0;
}